# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

parsley.pem

# Ignore the entire Data Folder  files
Gateio_Files/

# Ignore the entire Data Folder  files
Gateio_System_Settings/